{
  "CN": "{{ cfssl_sub_prefix }}ca.{{ domain_name }}",
  "hosts": [
             "{{ cfssl_sub_prefix }}ca",
             "{{ cfssl_sub_prefix }}ca.{{ domain_name }}"
    ],
  "key": {
    "algo": "{{ cfssl_certificate_key_algo }}",
    "size": {{ cfssl_certificate_key_short_size }}
  },
  "names": [
    {
      "C": "{{ cfssl_country }}",
      "ST": "{{ cfssl_state }}",
      "L": "{{ cfssl_locality }}",
      "O":  "{{ cfssl_organization_name }}",
      "OU": "{{ cfssl_organizational_unit }}"
    }
  ]
}