[ ca ]
default_ca = CA_default

[ CA_default ]
prompt            = no
dir               = {{ openssl_root_directory }}
database          = {{ openssl_root_directory }}/index.txt
serial            = {{ openssl_root_directory }}/serial
crlnumber         = {{ openssl_root_directory }}/crlnumber
private_key       = {{ openssl_root_private_directory }}/{{ openssl_root_prefix }}ca.key
RANDFILE          = {{ openssl_root_private_directory }}/.rand
certs             = {{ openssl_root_certs_directory }}
certificate       = {{ openssl_root_certs_directory }}/{{ openssl_root_prefix }}ca.crt
new_certs_dir     = {{ openssl_root_newcerts_directory }}
crl_dir           = {{ openssl_root_crl_directory }}
crl               = {{ openssl_root_crl_directory }}/{{ openssl_root_prefix }}ca.crl

crl_extensions    = crl_ext
default_crl_days  = 30
default_md          = sha256
name_opt          = ca_default
cert_opt          = ca_default
default_days      = {{ openssl_certificate_short_days }}
preserve          = no
policy            = policy_strict

[ policy_strict ]
# The root CA should only sign intermediate certificates that match.
# See the POLICY FORMAT section of `man ca`.
countryName             = supplied
stateOrProvinceName     = supplied
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_loose ]
# Allow the intermediate CA to sign a more diverse range of certificates.
# See the POLICY FORMAT section of the `ca` man page.
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits                    = {{ openssl_certificate_short_size }}
distinguished_name              = req_distinguished_name
string_mask                     = utf8only
default_md                      = sha256
x509_extensions                 = v3_ca

[ req_distinguished_name ]
countryName                     = {{ openssl_country }}
stateOrProvinceName             = {{ openssl_state }}
localityName                    = {{ openssl_locality }}
0.organizationName                = {{ openssl_organization_name }}
0.organizationalUnitName          = {{ openssl_organizational_unit }}
commonName                      = {{ openssl_root_prefix }}ca.{{ domain_name }}
emailAddress                    = {{ openssl_email_address }}

# Optionally, specify some defaults.
countryName_default             = {{ openssl_country }}
stateOrProvinceName_default     = {{ openssl_state }}
localityName_default            = {{ openssl_locality }}
0.organizationName_default        = {{ openssl_organization_name }}
0.organizationalUnitName_default  = {{ openssl_organizational_unit }}
commonName_default              = {{ openssl_root_prefix }}ca.{{ domain_name }}
emailAddress_default            = {{ openssl_email_address }}

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ v3_intermediate_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ server_cert ]
basicConstraints = CA:FALSE
nsCertType = server
nsComment = "OpenSSL Generated Server Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
