[ req ]
default_md              = sha256
default_bits           = {{ openssl_certificate_short_size }}
days                   = {{ openssl_certificate_short_days }}
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
prompt                 = no

[ req_distinguished_name ]
countryName                     = {{ openssl_country }}
stateOrProvinceName             = {{ openssl_state }}
localityName                    = {{ openssl_locality }}
organizationName                = {{ openssl_organization_name }}
organizationalUnitName          = {{ openssl_organizational_unit }}
commonName                      = {{ item.0 }}.{{ domain_name }}
emailAddress                    = {{ openssl_email_address }}

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
nsComment = "OpenSSL Generated Server Certificate"
subjectAltName         = @alt_names

[ alt_names ]
DNS.1 = {{ item.0 }}.{{ domain_name }}
DNS.2 = {{ item.0 }}
DNS.3 = localhost
IP.1 = {{ hostvars[item.0].ansible_host }}
IP.2 = 127.0.0.1