[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name


[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ ssl_client ]
extendedKeyUsage = clientAuth, serverAuth
basicConstraints = CA:FALSE
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
subjectAltName = @alt_names

[ v3_ca ]
basicConstraints = CA:TRUE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
authorityKeyIdentifier=keyid:always,issuer

[ req_distinguished_name ]
# See <https://en.wikipedia.org/wiki/Certificate_signing_request>.
countryName                     = {{ openssl_country }}
stateOrProvinceName             = {{ openssl_state }}
localityName                    = {{ openssl_locality }}
organizationName                = {{ openssl_organization_name }}
organizationalUnitName          = {{ openssl_organizational_unit }}
commonName                      = {{ item }}.{{ domain_name }}
emailAddress                    = {{ openssl_email_address }}

# Optionally, specify some defaults.
countryName_default             = {{ openssl_country }}
stateOrProvinceName_default     = {{ openssl_state }}
localityName_default            = {{ openssl_locality }}
organizationName_default        = {{ openssl_organization_name }}
organizationalUnitName_default  = {{ openssl_organizational_unit }}
commonName_default              = {{ item }}.{{ domain_name }}
emailAddress_default            = {{ openssl_email_address }}

[alt_names]
DNS.1 = localhost
DNS.2 = {{ item }}
DNS.3 = {{ item }}.{{ domain_name }}
IP.1 = {{ hostvars[item].ansible_host }}
IP.2 = 127.0.0.1